
* {
	margin: 0px;
	box-sizing: border-box;
}

.background {
	background-image: url('../images/background.png');
	width: 1024px;
	height: 600px;
	padding-left: 20px;
	padding-top: 20px;
}

.outerbox {
	background-image: url('../images/outerbox.png');
	width: 808px;
	height: 544px;
}

.wrapper {
	display: flex;
	flex-direction: row;
	padding-left: 32px;
	padding-top: 32px;
}

.wrapper__left {
	width: 208px;
	height: 472px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding-top: 20px;
}

.wrapper__left__header {
}

.today {
	font-size: 9px;
	padding-bottom: 8px;
}
.zero {
	color: red;
	font-size: 11px;
}
.count {
	font-size: 11px;
}
.wrapper__left__body {
	width: 208px;
	height: 440px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: 1px solid gray;
	border-radius: 15px;
	padding-top: 20px;
	padding-bottom: 31px;
	padding-left: 30px;
	padding-right: 30px;
	background-color: white;
}

.wrapper__left__body .header {
	width: 100%;
	height: 70%;
}
.headerGrey {
	width: 148px;
	height: 133px;
	background-color: #c4c4c4;
}
.line {
	border-top: 1px dotted black;
	margin-top: 12px;
	margin-bottom: 12px;
}
.profileWrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 72px;
}

.profile {
	color: #999999;
	font-size: 9px;
}
.wrapper__left__body .footer {
	width: 100%;
	height: 30%;
	display: flex;
	align-items: flex-end;
}

.wrapper__right {
	width: 524px;
	height: 472px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-left: 10px;
	z-index: 1;
}

.wrapper__right__header {
	padding-top: 10px;
	width: 510px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.wrapper__right__title {
	padding-left: 40px;
	color: #55b2d4;
	font-weight: 700;
	font-size: 16px;
}

.wrapper__right__setting {
	font-size: 13px;
	font-weight: 500;
}

.wrapper__right__body {
	width: 524px;
	height: 430px;
	background-color: white;
	border: 1px solid gray;
	border-radius: 15px;
}

.feelWrapper {
	width: 141px;
	height: 41px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
.feelSelect {
	width: 141px;
}

.bbbb {
	color: red;
}

.qqqqq {
	color:limegreen;
	font-size: 50px;
	/* 앞에 i클래스는 어쩌구 복붙한 아이콘 html 클래스 네임 생략후 뒤에 임의로 넣은 클래스명으로 css가능 */

}
iframe {
	width: 100%;
	height: 100%;
	border: none;

}

